.app__footer {
   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.app__bg--footer {
    margin-top: 90px;
    background: #eee;
}